.col {
    margin: 5px;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}

.col1 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5px;
    border-left: 5px;
    right: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.li {
    justify-self: center;
}

@media only screen and (max-width: 650px) {
    
    
    .reqs {
        flex-wrap: wrap;
        min-width: 90vw;
        left: 5vw;
    }

    .reqs1 {
        min-width: 90vw;
        right: 5vw;
    }
}
